@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ededed;
  color: #1f1f1f;
}

.header {
  padding: 2.6rem;
  position: relative;
}

.header__img {
  width: 100%;
  filter: brightness(0.6);
  border-radius: 0.6rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.name {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 5rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-75%);
  width: auto;
  color: #ededed;
}

.bg-figure {
  width: 60rem;
  height: 50rem;
  background-color: #0e7490;
  transform: rotate(-45deg);
  position: absolute;
  top: -20rem;
  left: -26rem;
  z-index: -1;
}

.about {
  padding: 0 2.6rem;
}

.about__title,
.projects__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.4rem;
  text-align: center;
}

.about__text {
  font-size: 1.6rem;
  color: #5c5b5b;
}

.about__social-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
}

.social-icon {
  width: 3rem;
}

.projects {
  padding: 0 2.6rem;
}

.projects__title {
  margin: 5rem 0 3rem 0;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.project-card {
  background-color: white;
  padding-bottom: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.project-top {
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
}

.project__name {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.project-link {
  padding: 0.5rem 0.4rem;
  border-radius: 0.6rem;
}

.project-link:hover {
  background-color: #ededed;
}

.project-cap {
  width: 2rem;
}

.project__description {
  margin: 0 2rem;
  font-size: 1.375rem;
  color: #5c5b5b;
}
