@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-bg: #e5e5e5;
  --secondary-bg: #0891b2;
  --secondary-darker-bg: #155e75;
  --foreground: #171717;
  --white: #fafafa;
  --gray: #525252;
  --light-gray: #d4d4d4;
  --lighter-gray: #e5e5e5;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bg);
  color: var(--foreground);
}

.header {
  padding: 2.6rem;
  position: relative;
}

.header__img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  filter: brightness(0.6);
  border-radius: 0.6rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.name {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 5rem;
  position: absolute;
  bottom: 6%;
  left: 52%;
  transform: translateX(-75%);
  width: auto;
  color: var(--white);
}

.about {
  padding: 0 2.6rem;
}

.about__title,
.projects__title,
.footer__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.4rem;
  text-align: center;
}

.about__text {
  font-size: 1.6rem;
  color: var(--gray);
}

.about__social-container {
  margin: 1rem 0 3rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-link {
  padding: 0.5rem 0.6rem;
  border-radius: 0.6rem;
}

.social-link:hover {
  background-color: var(--light-gray);
}

.social-icon {
  width: 3rem;
}

.projects {
  padding: 0 2.6rem;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 0;
}

.project-card {
  background-color: var(--white);
  padding-bottom: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.project-top {
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
}

.project__name {
  margin: 1rem 0;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.project-link {
  padding: 0.5rem 0.4rem;
  border-radius: 0.6rem;
}

.project-link:hover {
  background-color: var(--lighter-gray);
}

.project-cap {
  width: 2rem;
}

.project__description {
  margin: 0 2rem;
  font-size: 1.375rem;
  color: #5c5b5b;
}

.footer {
  background-color: var(--secondary-bg);
  color: var(--white);
}

.footer__title {
  padding-top: 1rem;
}

.footer__text {
  margin: 0 1.6rem 1rem 1.6rem;
  font-size: 1.6rem;
}

.footer address {
  margin: 0 1.6rem 2rem 1.6rem;
  font-size: 1.2rem;
}

.footer__phone,
.footer__email {
  margin: 0 1.6rem;
  font-size: 1.2rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0 4rem 0;
}

.footer__social-icon {
  width: 4rem;
}

.footer__social-link {
  padding: 0.5rem 0.4rem;
  border-radius: 0.6rem;
}

.footer__social-link:hover {
  background-color: var(--secondary-darker-bg);
}

@media screen and (min-width: 767px) {
  .header {
    padding: 0;
  }

  .header__img {
    width: 100%;
    height: 60rem;
    object-fit: cover;
    margin: 0 auto 1rem auto;
    border-radius: 0;
  }

  .name {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-bg);
    padding: 0 1.5rem;
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    display: flex;
    padding: 4rem;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer address,
  .footer__text {
    margin: 0 0 2rem 0;
  }

  .footer__phone,
  .footer__email {
    margin: 0;
  }

  .footer__img-bg {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    justify-content: space-between;
  }

  .footer__title {
    font-size: 4rem;
  }

  .footer__text {
    font-size: 1.8rem;
  }

  .footer address {
    font-size: 1.4rem;
  }

  .footer__phone,
  .footer__email {
    font-size: 1.4rem;
  }

  .footer__img-bg {
    max-width: 20%;
    height: auto;
  }
}
